body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #202124;

}

nav a:hover{
    text-decoration: underline;
}

main{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-grow: 1;
    margin-top: -100px;
}
.logo{
    margin-bottom: 30px;
}
.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 584px;
}

.search-bar{
    width: 100%;
    height: 44px;
    border-radius: 24px;
}

.search-bar:hover, .search-bar:focus{
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    outline: none;
}
.buttons{
    display: flex;
    gap:10px;
}
.search-button{
    background-color: #f8f9fa;
    border: 1px solid  #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 10px 16px;
    cursor: pointer;

}
.search-button:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

.advanced-main{
    padding: 20px 40px;
}
.advanced-main h1{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-weight: normal;
}
.advanced-row{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.advanced-row label{
    width: 200px;
    font-size: 13px;
}
.advanced-input{
    flex-grow: 1;
    height: 25px;
    border: 1px solid #d9d9d9;
    padding: 1px 8px;

}
.advanced-input:focus{
    border-color: #4d90f3;
    outline: none;
}
.advanced-button{
    background-color: #4d90fe;
    color: white;
    border: 1px solid #3079ed;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 12px;
    margin-left: 200px;
    cursor: pointer;
}
.advanced-button:hover{
    background-color: #357ae8;
}